@font-face {
    font-family: 'scripttitle';
    src: url('police/scripttitle-webfont.eot');
    src: url('police/scripttitle-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/scripttitle-webfont.woff2') format('woff2'),
         url('police/scripttitle-webfont.woff') format('woff'),
         url('police/scripttitle-webfont.ttf') format('truetype'),
         url('police/scripttitle-webfont.svg#scripttitle') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'thyssen';
    src: url('police/thyssen-webfont.eot');
    src: url('police/thyssen-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/thyssen-webfont.woff2') format('woff2'),
         url('police/thyssen-webfont.woff') format('woff'),
         url('police/thyssen-webfont.ttf') format('truetype'),
         url('police/thyssen-webfont.svg#thyssen') format('svg');
    font-weight: normal;
    font-style: normal;
}

#bloc_page {
width: 900px;
margin: auto;
}

body {
  font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}
